/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mx-6 {
    margin-left: 6px;
    margin-right: 6px;
}

.mr-4 {
    margin-right: 4px;
}

.mr-10 {
    margin-right: 10px;
}

.mhs {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}

.normal-text {
    font-weight: normal;
}
